.item-container {
  margin: auto;
  width: 70%;

  .item-card {
    display: flex;
    flex-direction: row;

    img {
      margin: 30px;
      width: 25em;
    }

    .item-body {
      text-align: left;
      margin: auto 0;

      .item-heading {
        font-weight: bolder;
        font-size: 1.5rem;
      }

      .item-description {
        margin: 40px 0;
        width: 60%;
      }
    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      flex-direction: column;

      img {
        width: 100%;
        margin: auto;
      }

      .item-body {
        text-align: center;

        .item-description {
          width: 100%;
        }
      }
    }
  }
}
