.item-container {
  display: flex;
  justify-content: center;
  margin: 5rem auto;
  width: 50%;
  text-align: center;
  border: rgba(128, 128, 128, 0.233) solid 1px;

  img {
    margin: 30px auto;
    width: 25em;
  }
}
