.form-container {
  width: 50%;
  margin: 50px auto;

  input {
    color: black !important;
  }

  .btn-confirm {
    width: 100%;
    margin-top: 20px;
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    width: 80%;
  }
}
