nav {
  margin-top: 8px;

  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin: auto;

      a {
        text-decoration: none;
      }
    }
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    margin-bottom: 50px;

    ul {
      flex-direction: column;
      align-content: center;
      text-align: center;

      li {
        padding-top: 5px;
      }
    }
  }
}
