footer {
  margin-bottom: 50px;

  .footer-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
      margin: 1.5em;
      font-size: 1.5rem;
    }
  }

  .footer-text {
    text-align: center;
  }
}
