footer {
  margin-bottom: 50px;

  .footer-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
      margin: 1.5em;
      font-size: 1.5rem;
    }
  }

  .footer-text {
    text-align: center;
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    width: 60%;
    margin: auto auto 50px auto;

    .footer-icons {
      a {
        margin: 0.8rem;
      }
    }
  }
}
