.counter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  width: 80%;

  button {
    &:first-of-type {
      margin-left: 0px;
    }
    margin-left: 20px;
    margin-right: 20px;
  }

  p {
    margin: 0px;
  }
}
